---
name: Checks
on: [push]

jobs:
  Test and Lint:
    name: Testing and Linting
    steps:
      - name: Login to Docker Hub
        runs_on: ubuntu-20.04
        uses: docker/login-action@v1
        with:
          username: ${{ settings.DOCKER_HUB_USERNAME }}
          password: ${{ settings.RECIPEE_CODE }}
      - name: Checkout
        uses: actions/checkout@v2
      - name: Test
        run: docker-compose run --rm app sh -c "python manage.py test"
      - name: Lint
        run: docker-compose run --rm app sh -c "flake8"
    

